@page "/home"
@inject AuthenticationService AuthService
@inject NavigationManager Navigation
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello, @AuthService.CurrentUsername!</h1>

Welcome to Query Generator!

